@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");
:root {
  --main-bg-color: purple;
  --font1: "Baloo Bhaina 2", ;
  --font2: "Verdana";
}
.center{
  align-items: center;
  justify-content: center;
}
.font1 {
  font-family: Var(--font1);
}
.font2 {
  font-family: Var(--font2);
}
.maxwidth-1 {
  max-width: 80vw;
}
.maxwidth-2 {
  max-width: 60vw;
}
.maxwidth3{
  max-width: 80vw;
}
.my-2{
  margin-top: 32px;
  margin-bottom: 32px;
}
.m-auto {
  margin: auto;
}
.btn {
  padding: 0px 20px;
  border: 2px solid black;
  border-radius: 6px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: Var(--main-bg-color);
  transition: all 0.3s ease-in-out;
}
.form-input {
  padding: 0px 5px;
  padding-top: 0px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 13px;
  font-family: var(--font1);
}

